body {
  margin:0;
  font-family: 'Arial', sans-serif;
  background:#000;
  color:#fff;
  text-align:center;
}

header {
  padding: 10px;
  background:#111;
}

.logo {
  width:100px;
}

nav button {
  margin:5px;
  padding:10px 20px;
  background:#ff4500;
  border:none;
  color:#fff;
  font-weight:bold;
  cursor:pointer;
}

main section {
  margin:20px;
  padding:10px;
  border:1px solid #444;
}

footer {
  margin-top:20px;
  padding:10px;
  background:#111;
}
